---
import MainLayout from "@layouts/MainLayout.astro";
import Avatar from "@components/Avatar.astro";
import FeaturedCardsLayout from "@layouts/FeaturedCardsLayout.astro";
import FeaturedCard from "@components/FeaturedCard.astro";
import LinksLayout from "@layouts/LinksLayout.astro";
import Link from "@components/Link.astro";
import Social from "@components/Social.astro";
const links = await Astro.glob("./links/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<MainLayout title="Astro LinkTree Clone">
			<Avatar />
			<FeaturedCardsLayout>
				<FeaturedCard
					featuredCardIcon="logos:patreon"
					featuredCardTitle="Support Us!"
					featuredCardLink="https://www.patreon.com/stefanrows"
				/>
				<FeaturedCard
					featuredCardIcon="logos:discord-icon"
					featuredCardTitle="Join the Community!"
					featuredCardLink="https://www.discord.com"
				/>
			</FeaturedCardsLayout>
			<LinksLayout>
				{
					links.map((link) => {
						return (
							<Link
								linkTitle={link.frontmatter.linkTitle}
								linkDescription={link.frontmatter.linkDescription}
								linkUrl={link.frontmatter.linkURL}
							/>
						);
					})
				}
			</LinksLayout>
			<Social />
		</MainLayout>
	</body>
</html>
