<div class='text-center'>
  <img
    class='mb-4 rounded h-36 lg:h-56'
    src='/avatar.jpg'
    alt='Extra large avatar'
  />
  <a
    href='https://www.twitter.com/@'
    class='text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200'
    >@lenka_codes</a
  >
</div>